.global-header{
  width: 100%;
  height: 75px;
  background:#1A1B1D;
  h1{
    padding: 0;
    margin: 0;
    line-height: 75px;
    text-align: center;
    font-size: 25px;
    color: #C4C4C4;
    font-weight: 600;
  }
}