.main-container{
  position: absolute;
  top:75px;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../images/main_bgs.jpg");
  overflow: auto;  }
body{
  position: relative;
}
.row{
   margin: 0;
 }