body {
  color: #666;
  font-size: 12px;
  line-height: 1.6;
  font-family: "Helvetica Neue", Helvetica, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

*:hover, *:active, *:focus {
  text-decoration-line: none;
  -webkit-transition: color .2s linear, background-color .2s linear, border-color .2s linear;
  transition: color .2s linear, background-color .2s linear, border-color .2s linear;
}

textarea {
  resize: none;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a, a:hover, a:focus {
  text-decoration: none;
  outline: none;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px
}

::-webkit-scrollbar-button {
}

::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
  width: 0;
  height: 0
}

::-webkit-scrollbar-track-piece {
  background-clip: padding-box;
  background-color: whitesmoke;
  border: solid white
}

::-webkit-scrollbar-track-piece:vertical {
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, .14), inset -1px 0 0 rgba(0, 0, 0, .05);
  border-width: 0
}

::-webkit-scrollbar-track-piece:horizontal {
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, .14), inset 0 -1px 0 rgba(0, 0, 0, .05);
  border-width: 0
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .2);
  background-clip: padding-box;
  border: solid transparent
}

::-webkit-scrollbar-thumb:vertical {
  border-width: 1px 1px 1px 2px;
  min-height: 24px;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .1)
}

::-webkit-scrollbar-thumb:horizontal {
  border-width: 2px 1px 1px 1px;
  min-width: 24px;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(0, 0, 0, .1)
}

::-webkit-scrollbar-thumb:vertical:hover {
  background-color: rgba(0, 0, 0, .6);
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .5), inset 0 -1px 0 rgba(0, 0, 0, .3)
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: rgba(0, 0, 0, .6);
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .5), inset -1px 0 0 rgba(0, 0, 0, .3)
}

@-webkit-keyframes flash {
  100% {
    left: 1000px;
  }
}

@-moz-keyframes flash {
  100% {
    left: 1000px;
  }
}

@-o-keyframes flash {
  100% {
    left: 1000px;
  }
}

@keyframes flash {
  100% {
    left: 1000px;
  }
}

//重置表格table
.table {
  & > thead, & > tbody, & > tfoot {
    & > tr {
      & > th, & > td {
        vertical-align: middle;
        white-space: nowrap;
        padding: 10px;
        .ng-binding {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

.breadcrumb {
  background-color: #7487a0;
  a {
    color: #FFFFFF;
  }
  .active {
    color: rgb(147, 178, 183);
  }
}

//重置面板panel
.panel {
  border: none;
  box-shadow: none;
  color: #797979;
}

.border-head {
  h3 {
    border-bottom: 1px solid #c9cdd7;
    margin-top: 0;
    margin-bottom: 20px;
    padding-bottom: 5px;
    font-size: 16px;
    display: inline-block;
    width: 100%;
    font-weight: 300;
  }
}

.panel-heading {
  background: #fff;
  color: #666;
  font-size: 16px;
  border-bottom: 1px solid #eff2f7;
}

.list-group {
  .list-group-item {
    border-color: #eff2f7;
  }
}

.panel-footer {
  background: #fff;
  color: #666;
  .btn {
    font-size: 13px;
  }
}

//重置表单form
.form-horizontal {
  .control-label {
    font-weight: 300;
    font-size: 14px;
    text-align: left;
  }
}

.form-control {
  border: 1px solid #e2e2e4;
  box-shadow: none;
  color: rgb(128, 128, 128);
}

.input-group-addon {
  background-color: #ff6c60;
  border-color: #ff6c60;
  color: #FFFFFF;
}

//重置按钮btn
.btn {
  &:focus, &:active {
    outline: none;
  }
}

.btn.form-control {
  color: #ffffff;
}

.btn-default.form-control {
  background-color: #bec3c7;
  border-color: #bec3c7;
  color: #fff;
}

.btn-success.form-control {
  background-color: #78CD51;
  border-color: #78CD51;
  color: #FFFFFF;
}

//重置分页pagination
.pagination {
  & > .active {
    & > a, & > a:hover, & > a:focus, & > span, & > span:hover, & > span:focus {
      background-color: #7487a0;
      border-color: #7487a0;
    }
  }
}

//重置弹出层modal
.modal-content {
  box-shadow: none;
  border: none;
}

.modal-header {
  background: #00A8B3;
  color: #fff;
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-bottom: none;
  .close {
    margin-top: 0;
  }
}

.dropdown-menu{
  .btn{
    border: none;
  }
}

.w100{width:130px !important;}
.w130{width:130px !important;}
.pl20{padding-left: 20px}