$borderRadius : 5px;
$space : 10px;

$grey: #a9a9a9;
$body-grey: #f1f2f7;
$white: #ffffff;
$menu-dark: #1B1C1E;
$menu-hover-dark: #26282C;

$border-color:#ccc;
$border-strong-color:#6D6D6D;

$table-bg:#4F5157;
$table-hd-color:#3D3232;
$table-color:#C2C2C2;

$btn-detail-bg:#373B46;
$btn-detail-height:24px;

$radius : 3px;
$header-bg-color : #24B964;
$header-btn-color : #10824D;